$x2: 4rpx;
$x4: 8rpx;
$x6: 12rpx;
$x8: 16rpx;
$x10: 20rpx;
$x12: 24rpx;
$x14: 28rpx;
$x16: 32rpx;
$x18: 36rpx;
$x20: 40rpx;
$x22: 44rpx;
$x24: 48rpx;
$x26: 52rpx;
$x28: 56rpx;
$x30: 60rpx;
$x32: 64rpx;
$x34: 68rpx;
$x36: 72rpx;
$x38: 76rpx;
$x40: 80rpx;
$x42: 84rpx;
$x44: 88rpx;
$x46: 92rpx;
$x48: 96rpx;
$x50: 100rpx;
$x52: 104rpx;
$x54: 108rpx;
$x56: 112rpx;
$x58: 116rpx;
$x60: 120rpx;
$x62: 124rpx;
$x64: 128rpx;
$x66: 132rpx;
$x68: 136rpx;
$x70: 140rpx;
$x72: 144rpx;
$x74: 148rpx;
$x76: 152rpx;
$x78: 156rpx;
$x80: 160rpx;
$x82: 164rpx;
$x84: 168rpx;
$x86: 172rpx;
$x88: 176rpx;
$x90: 180rpx;
$x92: 184rpx;
$x94: 188rpx;
$x96: 192rpx;
$x98: 196rpx;
$x100: 200rpx;
$x102: 204rpx;
$x104: 208rpx;
$x106: 212rpx;
$x108: 216rpx;
$x110: 220rpx;
$x112: 224rpx;
$x114: 228rpx;
$x116: 232rpx;
$x118: 236rpx;
$x120: 240rpx;
$x160: 320rpx;
$x200: 400rpx;
$x240: 480rpx;
$x280: 560rpx;
$x320: 640rpx;
$x360: 720rpx;
$x400: 800rpx;
$x440: 880rpx;
$x480: 960rpx;
$x520: 1040rpx;
$x560: 1120rpx;
$x600: 1200rpx;
